body {
    margin: auto;
   
}
/* header { */
    /* background-color: ; */
/* } */
main{
    background-color:white ;
    background-color:rgb(228,244,228);
    display: flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
form {
    background-color: #ffffff;
    font-family: "karlabold";
    font-weight: lighter;
    border-radius: 10px;
    padding: 25px;
}
 @font-face {
    font-family: "karlabold";
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
    }
 header {
    font-family: "karlabold";
    font-weight: bold;
    font-size: 20px;
 }
 form label {
    font-size: 16px;
    display: block;
 }
 form input {
    border-radius: 7px;
    height: 25px;
 }
.box div {
    border: 1px solid #117868; 
}
form div {
    margin-bottom: 10px;
}
#name > div {
    display: flex;
    justify-content: space-between;
}
#email > div > input{
    display: block;
    width: 100%;
}
#query >div {

    display: flex;
    justify-content: space-between;
}
form textarea {
    border-radius: 7px;
}



