body {
    margin: auto;
   
}
/* header { */
    /* background-color: ; */
/* } */
main{
    background-color:white ;
    background-color:rgb(228,244,228);
    display: flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
form {
    background-color: #ffffff;
}
 @font-face {
    font-family: "karlabold";
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
    font-weight: bold;
    
 }
