body {
    margin: auto;
   
}
/* header { */
    /* background-color: ; */
/* } */
main{
    background-color:white ;
    background-color:rgb(228,244,228);
    display: flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
form {
    background-color: #ffffff;
    font-family: "karlabold";
    font-weight: lighter;
    border-radius: 10px;
    padding: 25px;
}
 @font-face {
    font-family: "karlabold";
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
    }
 header {
    font-family: "karlabold";
    font-weight: bold;
    font-size: 20px;
 }
 form label {
    font-size: 10px;
    display: block;
    padding: 7px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
 }
 form input {
     border-radius: 5px;
     height: 25px;
     border: 1px solid #117868;
    }
    .radio-box {
        display: flex;
        gap: 15px;
 }
.radio-box div {
    border: 1px solid #117868; 
    border-radius: 5px;
    flex-basis: 100%;
    display :flex;
    justify-content: flex-start;
 
}
form div {
    margin-bottom: 10px;
}
#name > div {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
   
}
#email > div > input{
    display: block;
    width: 100%;
}
#query > div > div {
    /* display: inline-block; */
    justify-content: space-between;
}
form textarea {
    border-radius: 7px;
}
.submit {
    width: 100%;
    background-color: #117868;
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}
#checkbox > div {
    display: flex;
}
.choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;

}
.star {
    color: #117868;
}

#checkbox > div {
    display: flex;
    align-items: center;
}
#name > div > div {
    flex-basis: 100%;
}

#name > div > div > input {
    width: 100%;
}

/* input[type="radio"]:focus {
    color: rgba(224,241,231,255) ;
}

input[type="radio"]:active{
    color: #117868;
} */
@media screen and (max-width: 437px) {
    
    #name > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    #query > div > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

    }
}
